@model TutorsDomain.Model.Оцінка

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Оцінка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssigmentId" class="control-label"></label>
                <select asp-for="AssigmentId" class="form-control" asp-items="ViewBag.AssigmentId"></select>
                <span asp-validation-for="AssigmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradebookId" class="control-label"></label>
                <select asp-for="GradebookId" class="form-control" asp-items="ViewBag.GradebookId"></select>
                <span asp-validation-for="GradebookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Бал" class="control-label"></label>
                <input asp-for="Бал" class="form-control" />
                <span asp-validation-for="Бал" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="МаксимальнийБал" class="control-label"></label>
                <input asp-for="МаксимальнийБал" class="form-control" />
                <span asp-validation-for="МаксимальнийБал" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
