@model TutorsDomain.Model.Вчитель
@{
    ViewData["Title"] = "Додати вчителя";
}
<h1>Додати вчителя</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Піб" class="control-label">ПІБ</label>
                <input asp-for="Піб" class="form-control" />
                <span asp-validation-for="Піб" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Профіль" class="control-label">Профіль (предмет)</label>
                <input asp-for="Профіль" class="form-control" />
                <span asp-validation-for="Профіль" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Назад</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}